*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    scroll-behavior: smooth;
}
    .display-mobile{
        display: none;
    }
    .display-desktop{
        display: block;
    }

body{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #f9f9f9;
}
li{
    list-style: none;
}
.heading1{
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -8%;
}
.heading2{
    font-size: 60px;
    line-height: 105%;
    letter-spacing: -7%;
    font-weight:normal;
}
.heading3{
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.heading4{
    font-size: 30px;
    line-height: 105%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.heading5{
    font-size: 18px;
    line-height: 105%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.quotetext{
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.paragraph{
    font-size:16px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.label{
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal; 
}
.quote-text{
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal; 
}

.nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 32px 40px ;
    height: 101px;
    background-color: #a0f1bd;
    max-width: 1280px;
    width: 100%;
    
}
main{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    max-width: 1280px;
}
.main-title{
    width: max-content;
    white-space: nowrap;
}
.labelbox{
    display: flex;
    justify-content: right;
    gap: 20px;
    width: 100%;
}
.labelbox .label {
    display: flex;
    justify-self: center;
    align-items: center;
    width: max-content;
    cursor: pointer;
}
.map-button {
    padding: 12px;
    border-radius: 51px;
    border: none;
    background-color: #2e4f23;
    transition: 0.2s;
    width: max-content;
}
.map-button:hover{
    background-color: #ffffff;
    

}
.map-button:hover >  a{
    color: #2e4f21
    
}
.map-button a{
    color: #ffffff; 
    transition: 0.2s;
}
.hero{
    padding: 100px 40px;
    display: flex;
    width: 100%;
    max-width: 1280px;
    gap: 20%;    ;
    background: url("images/images (1).jpg") no-repeat  ;
    background-size:  cover  ;
    background-position-y: -400px;
    max-height: 610px;
    height: 100%;
    color: #ffffff; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hero .content{
    display: flex;
    justify-content: left;
    gap: 10vw;

}
.hero .block{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    gap: 100px  ;

    
}
.hero .logo{
    width: 410px;
    height: 410px;
}
.hero .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contacts-button{
    width: 138px;
    height: 40px;
    color: white;
    background-color: #2e4f23;
    padding: 12px;
    border-radius: 51px;
    border: none;
    transition:  0.2s;
    cursor: pointer;
    z-index: 1000;
}
.contacts-button:hover{
    color:#2e4f21;
    background-color: #ffffff;
}

.services{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.intro{
    max-height: 624px;
    height: 100%;
    padding: 120px 40px 100px;
    color: #2e4f21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .content{
    max-height: 404px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 28px;
}

#service-description{

    width: 100%;
}



.section{
    width: 100%;
    max-height: 485px;
    height: 100%;
    display: flex;

    align-items: center;
}
.section1{
    justify-content: left;
}
.section2{
    justify-content: right;
}
.section3{
    justify-content: left;
}

.section .card{
    max-width: 1036px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 80px;
    gap: 70px;
    background-color: #d2f8dc;
    color: #2e4f21;
    border-radius: 20px;
}
.section .card .content{
    max-width: 393px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    height: 55%;
    
}
.section .card .content .text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section .card .content .labelbox .label{
    padding: 12px;
    background-color: #ffffff;
    width: max-content;
    border-radius: 20px;
    transition: 0.2s;
}
.section .card .content .labelbox .label:hover{
    background-color: #2e4f23;
    color:#ffffff;
}
.section .image{
    width: 393px;
    height: 285px;
}
.section1 .image{
    background: url("images/Кримсно.jpg") no-repeat ;
    background-size: cover;
    background-position-y: -80px;
}
.section2 .image{
    background: url("images/ТОп ган.jpg") no-repeat ;
    background-size: cover;
    background-position-y: -80px;
}
.section3 .image{
    background: url("images/шуга беби.jpeg") no-repeat ;
    background-size: cover;
    background-position-y: 0px;
}

.reviews{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.reviews .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-direction: column;
    color: #2e4f21;

    max-width: 1080px;
    min-width: 720px;
}
.reviews .carousel .quotesbox{
    display: flex;
    gap: 100px;
}
.reviews .carousel .quotesbox .titles{
    width: 310px;
    display: flex;
    flex-direction: column;
  
    border-radius: 20px;
}
.reviews .carousel .quotesbox .titles .component{
    width: 310px;
    display: flex;
    height: 33%;
    padding: 20px 30px;
    border-radius: 8px;
    transition: 0.2s;
}
.titles .component .text.active{
    cursor: pointer;
    border-top: solid 1px #ffffff;
                }   
.titles .component .text {
    
    border-top: solid 1px #2e4f23;
 }
 
.reviews .carousel .quotesbox .titles .component .text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 20px 0 20px 0;
    gap: 18px;

}

.quotes > div {
    display: none;
        }

.quotes > div.active {
    display: block;
        }

.titles .component {
    cursor: pointer;
    
        }
     

.titles .component.active {
    background-color: #2e4f23;
    color: #ffffff;

 }


 .quotes{
     display: flex;
     flex-direction: column;
     border-left: 1px solid #2e4f23;
     transition: 0.2s;
 }
 .quotes > div.active{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 30px 0 40px;
    transition: 0.2s;
 }
 .quotes > div.active > .byline{
    display: flex; 
    align-items: center;
     gap: 28px;
 }
 .quotes .avatar{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 20px;
 }
 .imgbreak{
     width: 100%;
     object-fit: cover;
 }
 .clients{
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 80px 40px 80px 40px;
     color: #2e4f21;

 }
 .clients .content{
     max-width: 95%;
     display: flex;
     gap: 160px;
     flex-direction: column;

 }
.clients .content .header{
    display: flex;
    justify-content: space-between;
    gap: 8%;
    max-height: 125px;
}
.clients .content .columns{
    display: flex;
    justify-content: space-between;
}
.clients .content .columns div{
    padding: 20px 80px 20px 50px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    gap: 30px;
    border-left: 1px solid #2e4f21;
}
.clients .content .icon{
    width: 30px;
    height: 30px;
}

.history{
    display: flex;
    padding: 50px 40px;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.history .card {
    width: 48%;
    background-color: #2e4f23;
    color:#ffffff;
    display: flex;
    gap: 28px;
    padding: 60px;
    border-radius: 20px;
}
.history img{
    width: 48%;
    max-height: 375px ;
    object-fit: cover;
    border-radius: 20px;
}

.history .card .content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.map{
    max-height: 1100px;
    padding:  160px 120px;
    display: flex;
    flex-direction: column;
    width: 1280px;

}
.map .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    
}
#first_map{
    max-height: 900px;
    width: 1080px;
    border-radius: 20px;
}

footer{
    display: flex;
    align-items: top;
    max-width: 1280px;
    max-height: 341px;
    width: 100%;
    padding: 32px 40px;
    background-color: #2e4f23;
    color: #ffffff;
    gap:341px;
}

.leftcolumn{
   max-width: 600px ;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
}
.rightcolumn{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.leftcolumn .contacts .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.leftcolumn .contacts .text p{
    width: max-content;
}
.rightcolumn .goup{
    border: none;
    background-color: #ffffff;
    color: #2e4f21;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.rightcolumn .goup:hover{
    background-color: #D2F8DC;
}

@media (max-width: 800px){
    .display-mobile{
        display: block;
    }
    .display-desktop{
        display: none;
    }
    
    
    .heading1{
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -8%;
}
.heading2{
    font-size: 32px;
    line-height: 105%;
    letter-spacing: -7%;
    font-weight:normal;
}
.heading3{
    font-size: 28px;
    line-height: 105%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.heading4{
    font-size: 22px;
    line-height: 105%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.heading5{
    font-size: 18px;
    line-height: 105%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.quotetext{
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.paragraph{
    font-size:16px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal;
}
.label{
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal; 
}
.quote-text{
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -4.5%;
    font-weight:normal; 
}
body{
    overflow-x: hidden;
}
.nav{
    pad: 16px;
}
.hero{
    max-height: 700px;
    padding: 40px 16px;
        align-items: center;
    justify-content: center;
}
.hero .content{
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
}
.hero .content .block{
    gap: 30px;
}
.services{
    gap: 136px;
}
.intro{
    padding: 120px 16px 100px 16px;
}
.intro .content{
    gap: 28px;
    max-width: 100vw;
}
.card .image{
    max-width: 375px;
}
.card .labelbox{
    gap: 5px;
}
.section{
    justify-content: center;
    
}
.section .card{
    max-width: 100vw;
    flex-direction: column;
    max-height: 590px;
    padding: 40px 16px;
}
.quotesbox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews .carousel{
    gap: 40px;
}
    .reviews .carousel .titles{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
 

}
.reviews .carousel .titles .component{
    padding: 16px 12px;
    max-width: 33%;
    max-height: 120px;
    gap: 0px ;
    display: flex;

}
.reviews .carousel .titles .component .text{
    padding: 8px 0 0 0;
    gap: 0px;
}
.quotes > div.active{
    max-width: 100vw;
}
.imgbreak
{
    max-width: 100vw;
}
.clients{
    max-width: 100vw;
    padding: 80px 16px;
}
.reviews .heading2{
    max-width: 100vw;
    text-align: center;

}
.clients .content{
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.clients .content .header{
    flex-direction: column;
    gap: 32px;
    
}
.clients .content .columns{
    flex-direction: column;



}
.clients .content .columns > div{
        border-left: none;
    border-top: #2e4f21 solid 1px;
}

.history{
    padding: 50px 40px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.history img, .card{
    max-width: 100vw;
}
.map{
    padding: 70px 24px;
}
#map_910166728{
    max-width: 100vw;
}
footer{
    flex-direction: column;
    max-height: 539px;
    gap:80px;
    padding:  32px 24px;
}
