* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    background: hsl(234, 82%, 59%);
    font-family: "Roboto", sans-serif;
    padding: 0;

}
header {
background: hsl(234, 82%, 39%);
    display: flex;
    
    width: 100%;
    height: 13vh;
    margin: 0;
    padding: 30px 20px 30px;
    flex-direction: row;
    box-shadow: 4px 4px 10px hsl(234, 82%, 19%);
}
#firm {
    display: flex;
    margin: 0;
    font-size: 2.5em;
    align-items: center;
    justify-content: left;
    max-width: 30%;
    width: 100%;
}
#firm h1 {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}
#logo img {
    max-height: 100px;
    max-width: 100px;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
}
aside{
    max-width: 40%;
    width: 100%;
    height: 790px;
    overflow: hidden;
    background-color: hsl(234, 82%, 29%);
    display: flex;
    flex-direction: column;
    margin: 0;
    box-shadow: 4px 0px 10px hsl(234, 82%, 19%);

}

.tab-content.active {
    display: flex;
}
.tab > label {
    display: flex;
}

.tablinks {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: hsl(234, 82%, 39%);
}
.tab{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    background-color:hsl(234, 82%, 39%);
    color: rgb(142, 142, 142);
}

.tab > input[type="radio"] {
    display: none;
}
.tab > input[type="radio"]:checked + label {
    background-color: hsl(234, 82%, 29%);

  }

  .tab-content.active {
    display: flex;
}


.tablinks{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 33.3%;
    width: 100%;
    color: white;
    background-color: hsl(234, 82%, 39%); 
    outline: 2px solid hsl(234, 82%, 29%);
    transition: 0.3s;
}
.tablinks:hover{
    background-color: hsl(234, 82%, 29%); 
    cursor: pointer;
    color: rgb(142, 142, 142);
}
#content-1{
    display: flex;
    flex-direction: row;
    gap: 11%;
    flex-wrap: wrap ;
    padding-top: 20px;
    padding: 0 30px 0 30px;

}
#content-2{
    display: flex;
    flex-direction: row;
    gap: 11%;
    flex-wrap: wrap ;
    padding-top: 20px;
    padding: 0 30px 0 30px;

}
.upgradeBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(234, 82%, 20%);
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
    box-shadow: 4px 4px 10px hsl(234, 82%, 19%);
}
.upgradeBackground:hover {
    transform: scale(1.05);
}
.upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 200px;

}
.upgradeBackground  {
    max-width: 1600px;
}
.otherUpgrade{

}

.upgrade button{
    border: none;
    color: white;
    background:  hsl(234, 82%, 19%);
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}
#upgradesHolder button:hover{
    background:  hsl(234, 82%, 24%);

}
.upgrade img{
    max-width: 130px;
    border-radius: 10%;
}
.buyParams{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.buyParams div{
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    width: 100%;
    height: 790px;
    gap: 10%;

}
section img{
    width: 400px;
    pointer-events: none;
    user-select: none;


}
section #addBalance{
    max-width: 450px;
    max-height: 450px;
    background-color: hsl(234, 82%, 39%);
    border-radius: 50%;
    transition: 0.4s;
}
section #addBalance:hover{
    background-color: hsl(234, 82%, 44%);
    transform: scale(1.05);
}
#incomeHolder{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    color: white;
    font-size: 1.3em;
    height: 15%;

}
#incomeBackground {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    max-width: 300px;
    min-height: 60%;
    padding: 30px;
    background-color: hsl(234, 82%, 29%);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 4px 4px 10px hsl(234, 82%, 29%);
}
#tapMultBackground{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    max-width: 200px;
    min-height: 40%;
    background-color: hsl(234, 82%, 29%);
    border-bottom-right-radius: 40px;
    box-shadow: 4px 4px 10px hsl(234, 82%, 29%);
    padding-left: 30px;
    font-size: 0.7em;
}

.upgrade{
    margin: 10px;
}
#balanceHolder{
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    width: 100%;
    font-size: 1.4em;
}
#toggleSound{
    background-color: hsl(234, 82%, 59%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.4s;

}
#toggleSound:hover{
    transform: scale(1.3);
}
#toggleSound i{
    transform: scale(1.3);
}
#muteHolder{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding-right: 20px;
}
footer{
    background-color: hsl(234, 82%, 29%);
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 10px hsl(234, 82%, 19%);
    z-index: 100;
}
#resetBtnHolder{
height: 100%;
}
#resetButton{
    border: none;
    color: white;
    background: hsl(234, 82%, 29%);
    padding: 10px;
    cursor: pointer;
    height: 100%;
    transition: 0.3s;
}
#resetButton:hover{
    background-color: hsl(234, 82%, 19%);
}
#BnTHolder{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right; ;
    max-width: 230px;
    width: 100%;
    gap: 10px;
    font-size: 0.8em;

}
#tapCountHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    #firm h1{
        display: none;
    }
    main{
        flex-direction: column-reverse;
    }
    aside{
        max-width: 100%;
        overflow:scroll ;
    }
    section{
        max-width: 100%;
    }
    #content-1{
        justify-content: center;
    }
    .upgrade{
        max-width: 100%;
        width: 100%;
    }
    .upgradeBackground{
        max-width: 100%;
        width: 100%;
    }
    
}

